doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
  body
    h1 Users
    ul
      each user in users
        li
          a(href=`/users/${user.username}`)= user.username
